@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply !scroll-smooth;
  }

  ._title {
    @apply tracking-wider text-2xl lg:text-4xl font-semibold text-neutral-50;
  }
}

@layer components {
  ._help .subtitle {
    @apply text-lg font-semibold mb-1;
  }

  ._help ul li {
    @apply before:content-["•"] before:mr-2 before:text-2xl;
  }

  ._new-contract-item {
    @apply before:content-["•"] before:mr-2
  }
}

@layer utilities {
  .neon_text {
    text-shadow: 0 0 5px #fcfcfc, 0 0 20px #fcfcfc;
  }
}

.distorted-box {
  transform: perspective(400px) rotateX(45deg) skewY(15deg);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 20px 0;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
}